.rb-bar-chart {
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    float: none;
    position: relative;
    height: 100%;
    width: 100%;
}

.rb-bar-chart-layout {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.rb-bar-chart-layout:first-child {
    z-index: 1;
}

.rb-bar-chart-layout:first-child > *:hover {
    opacity: .9;
    z-index: 1;
}

.rb-bar-chart-layout:first-child > *:hover:after {
    content: attr(data);
    position: absolute;
    background: #fff;
    min-height: 32px;
    min-width: 100%;
    z-index: 1000;
    top: 40%;
    white-space: pre;
    padding: 4px;
    border: 1px solid #dddddd;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.rb-bar-chart-layout > * {
    position: relative;
    float: left;
    display: flex;
}

.rb-y-axis {
    width: 100%;
    border-top: 1px dotted #dddddd;
}

.rb-y-axis:before {
    content: attr(id);
    top: -8px;
    left: -46px;
    text-align: right;
    position: relative;
    width: 40px;
    display: block;
}

.rb-x-axis {
    height: 100%;
    border-right: 1px solid #dddddd;
}

#bar .rb-x-axis-layout {
    width: 100%;
    min-height: 24px;
}

#bar .rb-x-axis-layout > * {
    float: left;
    text-align: center;
}

.rb-bar {
    position: relative;
}

.bar {
    position: absolute;
    bottom: 0;
    height: 0;
    opacity: .6;
    transition: all .5s;
    -webkit-animation: bar-animation 1s ease;
    animation: bar-animation 1s ease;
}

@keyframes bar-animation {
    0% {
        height: 0;
    }
}