.rb-pie-chart {
    float: none;
    position: relative;
    height: 100%;
    width: 100%;
}

.rb-pie-chart-layout {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
    z-index: 0;
    background-color: #eee;
}

.rb-pie-chart-layout > * {
    position: relative;
    display: flex;
}

.rb-pie-chart-layout:hover > * {
    opacity: 0.6;
}

.rb-pie {
    opacity: 1;
    transition: all .3s ease-in-out;
}

.rb-pie:hover {
    opacity: 1;
}